* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 24px;
    font-family: var(--headline-font);
    font-weight: 400;
    color: #858585;
}

img {
    max-width: 100%;
    display: block;
  
}

h2, h3 {
    font-family: var(--base-font);
    text-transform: uppercase;
    font-weight: 300;
    color: black;
}

h3 {
    font-size: 2rem;
    margin-bottom: 16px;
    line-height: 2rem;

    @media screen and (min-width:768px) {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 28px;
      }
}

p {
    line-height: 25px;
}

.flex {

    @media screen and (min-width:600px) {
        display: flex; 
    }
    
}

.container {
    max-width: 1162px;
    padding: 0 24px;
    margin: 0 auto;
}

// button

.btn {
    background: #ffffff;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .575rem 2.4rem;
    font-family: var(--headline-font);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background: black;
        color: white;
    }

    @media screen and (min-width:768px) {
        
        padding: .575rem 2.35rem;
    }
}


// hero section - height: 60px

// main container 1162px with 24px padding


.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top:3.75rem ;

    @media screen and (min-width:768px) {
        padding-top:3.5rem ;
     }

    .container__inner {
        flex-direction: row;
        justify-content: space-between;

        @media screen and (min-width:768px) {
            align-items: center;
         }
    }

    .nav-trigger {
        display: block;
        @media screen and (min-width:768px) {
           display: none;
        }
    }
}

// navigation

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    height: 100vh;
    width: 100%;
    padding: 2.5rem 1.5rem;
    z-index: 10;
    display: none;
    pointer-events: painted;
    transition: opacity .4s  ease-in-out;

    @media screen and (min-width:768px) {
        position: relative;
        top: auto;
        left: auto;
        background: transparent;
        height: auto;
        width: auto;
        display: flex;
        padding: 0;


     }

     .logo {
        @media screen and (min-width:768px) {
           display: none;
         }
     }

     &.active {
        display: flex;
        flex-direction: column;
     }

}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media screen and (min-width:768px) {
        flex-direction: row;
     }

     &__item {
         padding: .75rem 0;
         position: relative;
     }

     &__item + &__item {
       
        @media screen and (min-width:768px) {
           padding-left: 2rem;

        }
    }

    &__link {
        color: white;
        text-decoration: none;
        padding: .5rem 0;
        text-transform: uppercase;
        font-family: var(--base-font);
        font-size: 1.5rem;

        @media screen and (min-width:768px) {
            text-transform: none;
            font-size: 1rem;

            &:hover {

                &::before {
                    content: '';
                    position:absolute;
                    width: 24px;
                    height: 2px;
                    bottom: 0;
                    background: white;
                    left: calc(50% + 1rem);
                    transform: translateX(-50%);
    
                }
            }
         }

    }

    &__item:first-child {

        .menu__link {
            &:hover {
                &::before {
                    left: 50%;
                }
            }

        }
        
    }
}

.nav-trigger {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.logo {
    width: 144px;
    position: absolute;
    top: 2.5rem;

    @media screen and (min-width:768px) {
        position: relative;
        top: auto;
        width: 200px;
        
    }
}


.hero {
    height: 650px;
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (min-width:768px) {
        padding-top: 5rem;
        background-image: url(../images/desktop/image-hero.jpg);
        
    }

    .container {
        @media screen and (min-width:768px) {
            margin:0 0 0 10% ;
            
        }
    }

    
}

.box-text {
    border: 1px solid white;
    padding: 22px 22px;
    max-width: 650px;
    @media screen and (min-width:768px) {
        padding: 40px 40px 20px;
    }

    h2 {
        color: white;
        font-family: var(--base-font);
        font-weight: 300;
        font-size: 2.5rem;
        line-height: 2.4rem;
        text-transform: uppercase;

        @media screen and (min-width:768px) {
            font-size: 4.5rem;
            line-height: 4.5rem;
        }
    }
}

.section {
    padding-top: 6rem;
    position: relative;

    @media screen and (min-width:768px) {
        padding-top: 10rem;
    }

    &.creations {
        margin-bottom: 5.8rem;
        padding-bottom: 3.2rem;

        @media screen and (min-width:768px) {
            padding-top: 11.5rem;  
            margin-bottom: 6.2rem;   
        }

        h3 {
            margin-bottom: 0;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width:768px) {
            justify-content: space-between;
            flex-direction: row;
        }

        .btn {
            position: absolute;
            bottom: 0;
            @media screen and (min-width:768px) {
                position: relative;
                bottom: auto;
             }
        }

        

    }
}

// callout

.callout {

    background: white;
    text-align: center;
    padding: 3rem 1rem 0;
    @media screen and (min-width:768px) {
        position: absolute;
        padding: 94px 0 0 97px;
        max-width: 544px;
        bottom: 0;
        right: 0;
        text-align: left;

        h3 {
            margin-bottom: 25px;
        }
    }
}

.cards {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3rem;

    @media screen and (min-width:768px) {
        padding-top: 5rem;
    }
}

.card {
    
    background: #f6f6f6;
    width: 100%;
    margin-bottom: 1.5rem;
    background-size: cover;
    background-position: center center;
    height: 120px;
    position: relative;
    overflow: hidden;
    transition: all .2s ease-in-out;
    cursor: pointer;

    @media screen and (min-width:768px) {
        margin-bottom: 2rem;
    }

    &::before { 
        content:"";
        position:absolute; top:0;right:0;bottom:0;left:0;
        background:inherit;
        transition:inherit;
      }

    .overlay {
        position: absolute;
        background-color: rgba(255,255,255,.6);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        opacity: 0;
        transition: all .2s ease-in-out;
    }

    &:hover {
        
        &::before {
            transform: scale(1.1);
        }

        .overlay {
            opacity: 1;
        }

        .card__text {
            color: black;
        }
    }

    &--1 { background-image: url(../images/mobile/image-deep-earth.jpg); }
    &--2 { background-image: url(../images/mobile/image-night-arcade.jpg); }
    &--3 { background-image: url(../images/mobile/image-soccer-team.jpg); }
    &--4 { background-image: url(../images/mobile/image-grid.jpg); }
    &--5 { background-image: url(../images/mobile/image-from-above.jpg); }
    &--6 { background-image: url(../images/mobile/image-pocket-borealis.jpg); }
    &--7 { background-image: url(../images/mobile/image-curiosity.jpg); }
    &--8 { background-image: url(../images/mobile/image-fisheye.jpg); }

    @media screen and (min-width:600px) {
        height: 450px;
        width: 47%;
        &--1 { background-image: url(../images/desktop/image-deep-earth.jpg); }
        &--2 { background-image: url(../images/desktop/image-night-arcade.jpg); }
        &--3 { background-image: url(../images/desktop/image-soccer-team.jpg); }
        &--4 { background-image: url(../images/desktop/image-grid.jpg); }
        &--5 { background-image: url(../images/desktop/image-from-above.jpg); }
        &--6 { background-image: url(../images/desktop/image-pocket-borealis.jpg); }
        &--7 { background-image: url(../images/desktop/image-curiosity.jpg); }
        &--8 { background-image: url(../images/desktop/image-fisheye.jpg); }
     }

    @media screen and (min-width:768px) {
        width: 31%;
        
    }
    @media screen and (min-width:992px) {
        width: 23%;
    }


    .card__text {
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        color: white;
        text-transform: uppercase;
        z-index: 5;
        font-size: 1.5rem;
        transition: all .2s ease-in-out;
        font-family: var(--base-font);

        @media screen and (min-width:768px) {
            bottom: 2rem;
            left: 2.5rem;
            font-size: 2rem;
            line-height: 2rem;
        }
    }

}


// footer

.footer {
    background: black;
    color: white;
    padding-top: 42px;
    padding-bottom: 42px;

    .flex {
        justify-content: space-between;
    }

    &__social {
        display: flex;
        flex-direction: column;
       
        align-items: center;

        @media screen and (min-width:768px){
            align-items: flex-end;
        }
    }

    // Footer Logo

    &__logo {
        max-width: 142px;
        padding: 1rem 0;

        @media screen and (min-width:768px){
            padding: 0;
            max-width: 146px;
        }
    }

    // Footer Navigation

    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width:768px){
            align-items: flex-start;
        }
    }
    .menu {
        padding-top: .5rem;
        text-align: center;
        @media screen and (min-width:768px){
            padding-top: 1rem;
        }
    }

    .menu__item{
        padding: .5rem;
        @media screen and (min-width:768px){
            padding: .5rem .5rem .5rem 0;
        }
    }

    .menu__item + .menu__item {

        @media screen and (min-width:768px){
            padding-left: 1.5rem;
        }
        
    }

    .menu__link {
        font-size: 1rem;
        text-transform: none;

        &:hover {

            &::before {
                content: '';
                position:absolute;
                width: 24px;
                height: 2px;
                bottom: 0;
                background: white;
                left: calc(50% + .5rem);
                transform: translateX(-50%);

            }
        }
    }

    // Social Media

    .social-nav {
        padding-top: 1.75rem;
        padding-bottom: 1rem;

        @media screen and (min-width:768px){
            padding-top: 0;
            padding-bottom: 1.75rem;
        }
        .menu {
            display: flex;
            flex-direction: row;
            padding-top: 0;

            .social + .social {
                margin-left: 1rem;
            }
        }
    }
}




